<!DOCTYPE html>
<html>
<head>
	<title>Redirecting...</title>
</head>
<body>
Redirecting to <%= "#{@url[:long_url]} from #{@short_url}. . ." %> 
<script>
	window.location = "<%= "#{@url[:long_url]} "%>"; 
</script>
</body>
</html>